.flatpickr-calendar {
  .flatpickr-day {
    max-width: 40px;
    height: 24px;
    border-radius: 4px;
    margin: 2px 0;
    line-height: unset;
    border: unset;

    &:not(.prevMonthDay):not(.nextMonthDay) {
      color: #1E293B;
    }

    &:hover {
      background: #F1F5F9;
    }

    &.selected:hover {
      @apply bg-primary
    }

    &.startRange, &.endRange, &.selected, &.inRange {
      @apply bg-primary !important;
      color: white !important;
      box-shadow: none;
      border-radius: 4px;
    }
  }
}

.flatpickr-wrapper {
  width: 100%;

  input:read-only {
    background: white;
    cursor: pointer;
  }
}
